.main-game {
    height: 70vh;
    width: 23.3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    padding: 10px;
    border: 8px solid rgb(0, 0, 0);
    margin: 0;
    transform: translate(-50%, -55%);
    background-color: cornflowerblue;
}

#gamecircle {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 3s;
  }
  @keyframes mymove {
    from {width: 0px; height: 0px;}
    to {width: 100px; height: 100px;}
}