.main-game {
    height: 70vh;
    width: 23.3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    padding: 10px;
    border: 8px solid rgb(0, 0, 0);
    margin: 0;
    transform: translate(-50%, -55%);
    background-color: cornflowerblue;
}

.lane1{
    border: 8px solid rgb(10, 236, 10);
    height: 60vh;
    width: 5vw;
    position: absolute;
    transform: translate(100%, 0%);
    background-color:rgb(10, 236, 10);
    padding: 1px;
}

.lane2{
    border: 8px solid rgb(241, 87, 87);
    height: 60vh;
    width: 5vw;
    position: absolute;
    transform: translate(200%, 0%);
    background-color:rgb(241, 87, 87);
    padding: 1px;
}

.lane3{
    border: 8px solid rgb(251, 255, 4);
    height: 60vh;
    width: 5vw;
    position: absolute;
    transform: translate(300%, 0%);
    background-color:rgb(251, 255, 4);
    padding: 1px;
}

.lane4{
    border: 8px solid rgb(255, 8, 255);
    height: 60vh;
    width: 5vw;
    position: absolute;
    transform: translate(0%, 0%);
    background-color:rgb(255, 8, 255);
    padding: 1px;
}
